# Ejercicio post-clase - Netflix

## Importación librerías

In [17]:
from sqlalchemy import create_engine
import sqlalchemy
import pandas as pd

## Mostrar todos los registros de un dataframe
Como necesitamos ver el resultado completo de nuestras queries, vamos a deshabilitar la limitación del número de rows a printear por pantalla.

In [18]:
pd.set_option('display.max_rows', None)

## Conexión a la base de datos
Primero la cadena de conexión y lo segundo generar la conexión. Vamos a utilizar una base de datos nueva que denominaremos NETFLIX.

In [19]:
# instanciamos engine como resultado de create_engine
cadena_conexion='mysql+mysqlconnector://root@localhost/'
con = sqlalchemy.create_engine(cadena_conexion).connect()

In [20]:
# Creamos una base de datos de NETFLIX y nos conectamos a la misma
con.execute("CREATE DATABASE IF NOT EXISTS NETFLIX")
con.execute("USE NETFLIX")

In [21]:
# Comprobamos el contenido de la base de datos NETFLIX. Ahora mismo no debería aparecer nada.
pTablas = con.execute("SHOW TABLES")
pTablas.fetchall()

[('fechas',), ('producciones',), ('ratings',)]

## Importación datos Netflix y creación de tablas
Los datos de Netflix se encuentran en varios ficheros excel de este proyecto: 
- ficheros_Netflix/netflix_producciones.xlsx
- ficheros_Netflix/netflix_fechas.xlsx
- ficheros_Netflix/netflix_ratings.xlsx

In [22]:
dfProducciones = pd.read_excel("ficheros_Netflix/netflix_producciones.xlsx")
dfProducciones.head(10)

,show_id,type,title,director,cast,country,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,99 min,Comedies,When nerdy high schooler Dani finally attracts...
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...

In [23]:
dfFechas = pd.read_excel("ficheros_Netflix/netflix_fechas.xlsx")
dfFechas.head(10)

    show_id date_added  release_year
0  81145628 2019-09-09          2019
1  80117401 2016-09-09          2016
2  70234439 2018-09-08          2013
3  80058654 2018-09-08          2016
4  80125979 2017-09-08          2017
5  80163890 2017-09-08          2016
6  70304989 2017-09-08          2014
7  80164077 2017-09-08          2017
8  80117902 2017-09-08          2017
9  70304990 2017-09-08          2014

In [24]:
dfRatings = pd.read_excel("ficheros_Netflix/netflix_ratings.xlsx")
dfRatings.head(10)

    show_id    rating
0  81145628     TV-PG
1  80117401     TV-MA
2  70234439  TV-Y7-FV
3  80058654     TV-Y7
4  80125979     TV-14
5  80163890     TV-MA
6  70304989         R
7  80164077     TV-MA
8  80117902     TV-MA
9  70304990         R

In [25]:
dfProducciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   show_id      6234 non-null   int64
 1   type         6234 non-null   object
 2   title        6234 non-null   object
 3   director     4265 non-null   object
 4   cast         5664 non-null   object
 5   country      5758 non-null   object
 6   duration     6234 non-null   object
 7   listed_in    6234 non-null   object
 8   description  6234 non-null   object
dtypes: int64(1), object(8)
memory usage: 438.5+ KB

In [26]:
dfFechas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   date_added    6223 non-null   datetime64[ns]
 2   release_year  6234 non-null   int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 146.2 KB

In [27]:
dfRatings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5586 entries, 0 to 5585
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   show_id  5586 non-null   int64
 1   rating   5576 non-null   object
dtypes: int64(1), object(1)
memory usage: 87.4+ KB

Y ya para acabar, creamos las tabla producciones, fechas y ratings a partir de los dataframes anteriores

In [28]:
dfProducciones.to_sql('producciones', if_exists='replace', con=con, index=False)
dfFechas.to_sql('fechas', if_exists='replace', con=con, index=False)
dfRatings.to_sql('ratings', if_exists='replace', con=con, index=False)

AttributeError: 'NoneType' object has no attribute 'replace'

## Antes de empezar

### Revisa la descripción de cada una de las tablas para entender los campos

In [13]:
# Descripción de las tablas

### Calcula cuántos registros existen en cada una de las tablas, para ver si tienen o no el mismo número de registros.

In [14]:
# Número de registros por tablas

## Preguntas
Responder todas las preguntas utilizando sentencias SQL. Una pregunta, 1 sentencia. No se permite utilizar varias sentencias para dar lugar al resultado final.

### ¿Cuántas producciones (películas y shows de TV) existen en esta tabla?

In [15]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1065 (42000): Query was empty
[SQL:

]
(Background on this error at: http://sqlalche.me/e/13/f405)

### ¿Cuántas producciones son series y cuántas son películas?

In [ ]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)

### Listar las películas y series donde actuó Úrsula Corberó o que fueron filmadas únicamente en Perú. Cuando mostréis el nombre de la película, incluid entre paréntesis el nombre del director.
Tip: Investigar el uso del LIKE en una query y del OR como operador lógico en un WHERE

Tip: Para los que quieran estirar un poco más el SQL, que identifiquen si una producción tiene o no director informado y, en caso negativo, NO incluir el paréntesis con el director en el nombre de la película (https://www.w3schools.com/mysql/func_mysql_case.asp)

In [ ]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)

### Indicar el número de películas y series de TV (por separado) que se agregaron (date_added) por año y mes desde el 2017 (inclusive), ordenando primero por el tipo de producción, por año y por mes. NO INCLUIR las producciones que NO tienen date_added (nulo).
Tip 1: para un campo fecha, pueden extraerse (entre otros) la parte del año y del mes a través de las funciones YEAR() Y MONTH() respectivamente.

Tip 2: al indicar los campos del GROUP BY, también pueden utilizarse campos calculados

In [ ]:
sSQL = '''

'''
pd.read_sql(sSQL, con=con)

### Listar (type, title, country) las películas que fueron rodadas en varios paises
Tip: INVESTIGAR EL USO DEL LIKE EN EL QUERY. Si una película fue rodada en un único país, NO debería aparecer en este listado.

In [ ]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)

### Mostrar los 3 años en los que se lanzaron (release_date) más producciones

In [ ]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)

### ¿Cuál es/son las últimas series (TV Show) agregadas al catálogo de producciones de Netflix?
Tip: mirad la función MAX() para el campo date_added, y utilizad este valor como filtro.

In [ ]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)

### Calcular el número de series de TV lanzadas (release_date) en 2016 y 2017 por cada valor de rating

In [ ]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)

### PROPONER 3 NUEVOS QUERYS PARA OBTENER INFORMACIÓN RELEVANTE

In [ ]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)

In [ ]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)

In [ ]:
sSQL = '''
    
'''
pd.read_sql(sSQL, con=con)